<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html">TCMS </a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">
            About Us <span class="sr-only">(current)</span>
            </a>

          </li>
          <li class="nav-item">
            <a routerLink="/clients" >
              Client
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/newClient.html">
              New Client
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/reporting.html">
              Reporting
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/Project.html">
              Project
            </a>
          </li>
          <li class="nav-item ">
            <a routerLink="newproject.html">
              New project
            </a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"></main>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">About Us</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a href="#">Home</a>
        </div>
      </div>

      <div class="container">
        <section class="jumbotron text-center">
          <div class="container">
            <h1>Welcome To Turntabl Client Management System</h1>

            <p>
              <a routerLink="/clients.html" class="btn btn-success my-2">Clients</a>
              <a routerLink="projects.html" class="btn btn-secondary my-2">Projects</a>
            </p>
          </div>
        </section>


              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Clients Details</strong>
                    <a routerLink="/clients_details.html#3">Info</a>
                  </div>
                </div>
              </div>

              <small class="d-block text-right mt-3">
                <a routerLink="/clients.html">All Clients</a>
              </small>
            </div>

                  
          



          <div class="col-sm">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent Projects</h6>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#red"/><text x="50%" y="50%" fill="#red" dy=".3em">32x32</text></svg>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Project Management System </strong>
                    <a routerLink="/projects_details.html#1">Info</a>
                  </div>
                </div>
              </div>
              <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#yellow"/><text x="50%" y="50%" fill="#yellow" dy=".3em">32x32</text></svg>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-pink">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">H2 Database</strong>
                    <a routerLink="/projects_details.html#3">Info</a>
                  </div>
                </div>
              </div>
              <small class="d-block text-right mt-3">
                <a routerLink="/projects.html">All projects</a>
              </small>
            </div>
          </div>

          <div class="col-sm">
            <div class="my-3 p-3 bg-white rounded shadow-sm">

            <div class="col-sm">
            <div class="my-3 p-3 bg-white rounded shadow-sm">


        <div class="row">

        </div>

        <footer class="text-muted">
          <div class="container">
            <p class="float-right">
              <a href="#">Back to top</a>
            </p>
            <p>
              Turntabl Client Manangeemnt System &copy; TCMS.
            </p>
          </div>
        </footer>
      </div>


  </div>
</div>
